/* You can add global styles to this file, and also import other style files */
/*@import '~@fullcalendar/core/main.css';*/
@import '~@fullcalendar/daygrid/main.css';
.form-control {
  margin-bottom: 10px;
}
.router-container {
  position: relative;
}
.router-container > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
body {
  overflow-x: hidden;
}
